.CardRegistro {
	align-content:center;
}

.degree {
    height:auto;
    background: linear-gradient(to right, #837090, #cf2f2f, #4cff00);
    padding:15px 0 450px 0;
}

.jp-kp{
   background-color: #4d24db !important;
}
